.table{
  line-height: 2;
  padding-top: 24px;
  
  table{
    border-collapse: collapse;
    width: 100%;
  }

  tr{
    border-bottom: .1rem solid #132032;

    &:first-child{
      border-top: .1rem solid #132032;
    }
  }

  th{
    color: $color-main;
    display: block;
    text-align: left;
    padding-top: 16px;
    font-weight: bold;
  }

  td{
    display: block;
    padding-bottom: 16px;

    span{
      text-decoration: underline;
    }
  }
}

.message{
  padding-top: 4px;
}

@media #{$mq_tab}{
  .table{
    table{
      width: 95%;
    }
  }
}