/*---------------------------------

  header

---------------------------------*/
.header-inner{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 8px 16px;
  align-items: center;
}

.header-logo{
  width: 200px;
}

.pc-nav{
  display: none;
}

@media #{$mq_pc}{
  .header{
    position: fixed;
    z-index: 100;
  }

  .header-inner{
    max-width: 1440px;
    padding-right: 5%;
    padding-left: 5%;
    background: rgba(255,255,255,0.5);
  }

  .header-right{
    display: none;
  }

  .header-logo{
    width: 250px;
  }

  .pc-nav{
    display: block;
    ul{
      display: flex;
      color: $color-main;
      font-weight: bold;
      
      li{
        margin-left: 24px;
      }
    }
  }

  .current-menu-item{
    border-bottom: 2px solid $color-main;
  }
}
/*---------------------------------

  ハンバーガーメニュー

---------------------------------*/
.openbtn1{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  cursor: pointer;
  width: 50px;
  height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background: $color-main;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;/*真ん中の線は透過*/
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*---------------------------------

  global-navigation

---------------------------------*/

.gnav{
    background: #040F1C;;
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.gnav__menu__item{
    margin: 32px 0;
}
.gnav__menu__item a{
    color: #C9C4B8;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 40px;
    text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #666;
}